<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link rel="stylesheet" th:href="@{static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="..static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div class="form-group">
    <label for="name">Enter name: </label>
    </div>
    <div class="form-group">
    <input type="text" th:field="*{name}" id="name"/>

    </div>
    <div class="form-group">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </div>
    <div class="form-group">
    <label for="age">Enter age: </label>
    </div>
    <div class="form-group">
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    </div>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</div>
</body>
</html>